body {
	font-family: Helvetica Neue;
	font-style: normal;
}

/* header start */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	background-color: #FFFFFF;
}

.header__container {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo a {
	display: block;
}

.header__logo-img {
	display: block;
}

/* header navigation start */
.header__nav {
	width: 490px;
}

.header__nav ul{
	display: flex;
	justify-content: space-between;
	text-decoration: none;
}

.header__item a {
	display: block;
	padding: 20px 0;
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	color: #252525;
}

.header__item::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #5300EE;
	border-radius: 1px 1px 0px 0px;
	transition: width .3s;
}

.header__item:hover::after  {
	width: 100%;
	transition: width .3s;
}

/* header navigation end */

.header__insta a{
	display: block;
}

.header__insta-img {
	display: block;
	width: 100%;
	height: 100%;
}


.header__burger {
	display: none;
}

.xuy {
	padding-top: 100px;
	height: 2000px;
	background-color: #F7F7F8;
}
/* header end */