body {
	font-family: Helvetica Neue;
	font-style: normal;
}

/* header start */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: #FFFFFF;
}

.header__wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 64px;
}

.header__logo {
	flex:0 0 115px; /* fixed logo size */
}


.header__logo-img {
	display: block;
	max-width: 100%;
}

/* header navigation start */

.header__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: inherit;
	width: 745px;
}

.header__nav {
	height: 98%;
}

.header__list{
	display: flex;
	align-items: center;
	text-decoration: none;
	height: inherit;
}

.header__list li {
	padding: 0 0 0 30px;
	height: 100%;
}

.header__link {
	display: block;
	display: flex;
	align-items: center;
	height: 100%;
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	color: #252525;
}

.header__list li::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #5300EE;
	border-radius: 1px 1px 0px 0px;
	transition: width .3s;
}

.header__list li:hover::after  {
	width: 100%;
	transition: width .3s;
}

/* header navigation end */

.header__insta {
	flex: 0 0 24px; /* fixed instalogo size */
}

.header__insta-img {
	display: block;
	max-width: 100%;
}

.header__burger {
	display: none;
}

/* header end */
/*title start */
.title {
	padding-top: 64px;
}

.title__container {
	display: flex;
	justify-content: space-between;
	padding: 34px 0 0 0;
	position: relative;
	top: 0;
	left: 0;
}

.title__date {
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.015em;
	color: #5300EE;
	margin: 0 0 7px 0;
}

.title__header {
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 150%;
	color: #252525;
	margin: 0 0 5px 0;
	max-width: 588px;
}

.title__sub {
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: #252525;
	margin: 0 0 42px 0;
	max-width: 400px;
}


.title__items {
	display: flex;
	justify-content: space-between;
	max-width: 336px;
	margin: 0 0 113px 0;
}

/*make button start */
.button {
	box-shadow: 0px 2px 4px rgba(83, 0, 238, 0.27);
	border-radius: 68px;
}

.button a{
	text-decoration: none;
	padding: 15px 30px;
	display: inline-block;
	box-shadow: 0px 2px 4px rgba(83, 0, 238, 0.27);
	border-radius: 68px;
}
/*make button end */
.title__button {
	background: #5300EE;
}

.title__button a{
	color: #FFFFFF;
}

.title__button:active {
	background: #4200BD;
}

.title__img {
	position: absolute;
	top: 53px;
	right: -55px;
}

.title__img img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.title__arrow {
	text-align: center;
	margin: 0 0 37px 0;
}

/*title end */
/*information start */

.information {
	height: 2000px;
	background-color: #F7F7F8;
	padding: 50px 0 0 0;
}

.information__title {
	max-width: 713px;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 133.5%;
	color: #252525;
	margin: 0 0 22px 0;
}

.information__container {
	display: flex;
	justify-content: space-between;
}

.information__text {
	flex: 0 1 500px;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: #252525;
}

.information__block-text {
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 40px;
	color: #FFFFFF;
	margin: 0 0 41px 0;
}

.information__button {
	display: inline-block;
}

.information__button a{
	background: #FFFFFF;
	color: #252525;
}

.information__block {
	background: #5300EE;
	box-shadow: 0px 8px 32px rgba(36, 36, 36, 0.12);
	border-radius: 12px 0px 0px 12px;
	padding: 62px 53px 48px 70px;
	position: relative;
	left: 99px;
}

/*information end */