body {
	font-family: Helvetica Neue;
	font-style: normal;
	background: #F7F7F8;
}

/* header start */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: #FFFFFF;
}

.header__wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 64px;
}

.header__logo {
	flex:0 0 115px; /* fixed logo size */
}


.header__logo-img {
	display: block;
	max-width: 100%;
}

/* header navigation start */

.header__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: inherit;
	width: 745px;
}

.header__nav {
	height: 98%;
}

.header__list{
	display: flex;
	align-items: center;
	text-decoration: none;
	height: inherit;
}

.header__list li {
	padding: 0 0 0 30px;
	height: 100%;
}

.header__link {
	display: block;
	display: flex;
	align-items: center;
	height: 100%;
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	color: #252525;
}

.header__list li::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #5300EE;
	border-radius: 1px 1px 0px 0px;
	transition: width .3s;
}

.header__list li:hover::after  {
	width: 100%;
	transition: width .3s;
}

/* header navigation end */

.header__insta {
	flex: 0 0 24px; /* fixed instalogo size */
}

.header__insta-img {
	display: block;
	max-width: 100%;
}

.header__burger {
	display: none;
}

/* header end */
/*title start */
.title {
	padding-top: 64px;
	background: #FFFFFF;
}

.title__container {
	display: flex;
	justify-content: space-between;
	padding: 34px 0 0 0;
	position: relative;
	top: 0;
	left: 0;
}

.title__date {
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.015em;
	color: #5300EE;
	margin: 0 0 7px 0;
}

.title__header {
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 150%;
	color: #252525;
	margin: 0 0 5px 0;
	max-width: 588px;
}

.title__sub {
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: #252525;
	margin: 0 0 42px 0;
	max-width: 400px;
}


.title__items {
	display: flex;
	justify-content: space-between;
	max-width: 336px;
	margin: 0 0 113px 0;
}

/*make button start */
.button {
	box-shadow: 0px 2px 4px rgba(83, 0, 238, 0.27);
	border-radius: 68px;
}

.button a{
	text-decoration: none;
	padding: 15px 30px;
	display: inline-block;
	box-shadow: 0px 2px 4px rgba(83, 0, 238, 0.27);
	border-radius: 68px;
}
/*make button end */
.title__button {
	background: #5300EE;
}

.title__button a{
	color: #FFFFFF;
}

.title__button:active {
	background: #4200BD;
}

.title__img {
	position: absolute;
	top: 53px;
	right: -55px;
}

.title__img img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.title__arrow {
	text-align: center;
	padding: 0 0 37px 0;
}

/*title end */
/*information start */

.information {
	background-color: #F7F7F8;
	padding: 50px 0 106px 0;
}

.information__title {
	max-width: 713px;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 133.5%;
	color: #252525;
	margin: 0 0 22px 0;
}

.information__container {
	display: flex;
	justify-content: space-between;
}

.information__text {
	flex: 0 1 500px;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: #252525;
}

.information__text p{
	margin: 0 0 15px 0;
}

.information__block-text {
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 40px;
	color: #FFFFFF;
	margin: 0 0 41px 0;
}

.information__button {
	display: inline-block;
}

.information__button a{
	background: #FFFFFF;
	color: #252525;
}

.information__block {
	background: #5300EE;
	box-shadow: 0px 8px 32px rgba(36, 36, 36, 0.12);
	border-radius: 12px 0px 0px 12px;
	padding: 62px 53px 48px 70px;
	position: relative;
	left: 99px;
}

/*information end */
/* why start */

.why {
	margin: 0 0 22px 0;
}

.why__container {
	margin: 0 0 100px 0;
}

.why__header {
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 133.5%;
	text-align: center;
	color: #252525;
}

.why__text {
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: #252525;
	margin: 0 0 32px 0;
}
               /*desktop start*/

.why__desktop {
	border: 0.78125px solid #DEE1E6;
	box-sizing: border-box;
	border-radius: 6.25px;
}


.why__desktop-address {
	height: 33px;
	display: flex;
	align-items: center;
	background: #E1E1E2;
	padding: 0 10px;
	border-top: 6.25px;
}

.why__desktop-dots {
	display: inline-block;
	width: 41px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.why__dots {
	width: 9.38px;
	height: 9.38px;
	border-radius: 50%;
	margin-right: 1px;
	display: inline-block;
}

.red {
	background: #FF5F57;
}

.yellow {
	background: #FFBD2E;
}

.green {
	background: #27C940;
}


.why__bar {
	height: 22px;
	background: #F1F3F4;
	border-radius: 7px;
	width: 652px;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #000000;
	margin: 0 0 0 136px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.desktop__screen {
	display: flex;
	flex-direction: column;
	height: 499px;
	overflow-x: auto;
	padding: 50px 124px 0 124px;
	background: rgba(255, 255, 255, 0.001);
	box-shadow: 0px 0px 32.3031px rgba(0, 0, 0, 0.16);
}

.desktop__screen-left {
	background: #5300EE;
	box-shadow: 0px 4px 18px rgba(83, 0, 238, 0.29);
	border-radius: 30px 30px 30px 0px;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: #FFFFFF;
	margin: 0 0 30px 0;
	padding: 20px 40px;
	margin: 0 45px 30px 0;
}

.desktop__screen-rigt {
	background: #524377;
	box-shadow: 0px 4px 18px rgba(82, 67, 119, 0.29);
	border-radius: 30px 30px 0px 30px;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: #FFFFFF;
	margin: 0 0 30px 0;
	padding: 20px 40px;
	margin: 0 0 30px 45px;
}
			/*desktop end*/
/* why end */
/* fear start */
.fear__container {
	display: flex;
	margin: 0 0 98px 0;
}

.fear__info {
	max-width: 500px;
}

.fear__header {
	font-weight: 500;
	font-size: 36px;
	line-height: 133.5%;
	color: #252525;
	margin: 0 0 22px 0;
}

.fear__text {
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: #252525;
	margin: 0 0 22px 0;
}

.fear__desktop {
	border: 0.420613px solid #DEE1E6;
	box-sizing: border-box;
	border-radius: 3.3649px;
	position: relative;
	top: 0;
	left: 90px;
}

.fear__desktop-address {
	height: 16px;
	display: flex;
	align-items: center;
	background: #E1E1E2;
	padding: 0 10px;
}

.fear__desktop-dots {
	width: 22px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.fear__dots {
	width: 5px;
	height: 5px;
	border-radius: 50%;
}

.fear__bar {
	font-size: 6.46062px;
	line-height: 8px;
	text-align: center;
	color: #000000;
	padding: 2px 150px;
	background: #F1F3F4;
	border-radius: 3.76869px;
	margin: 0 0 0 72px;
}

.fear__screen {
	background: #FFFFFF;
	box-shadow: 0px 0px 32.3031px rgba(0, 0, 0, 0.16);
	padding: 29px 68px;
	border-radius: 0px 0px 3.3649px 3.3649px;
	height: 270px;
}

.fear__screen-header {
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #252525;
}

.fear__screen-img {
	width: 100%;
	height: auto;
	position: relative;
	left: -30px
}

.fear__screen-text {
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	color: #6D6D6D;
}
/* fear end */
/* haveto start */

.haveto__header {
	font-weight: 500;
	font-size: 36px;
	line-height: 133.5%;
	text-align: center;
	color: #252525;
	margin: 0 0 22px 0;
}

.haveto__text {
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: #252525;
	margin: 0 0 32px 0;
}

.have__item-header {
	font-weight: 500;
	font-size: 36px;
	line-height: 133.5%;
	text-align: center;
	color: #252525;
	margin: 0 0 22px 0;
}

.haveto__item-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 40px 0;
}

.haveto__item-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 40px 0;
}

.haveto-img {
	width: 100%;
	height: auto;
}

.haveto__item-text-left {
	margin: 0 0 0 100px;
	font-weight: 500;
	font-size: 30px;
	line-height: 133.5%;
	color: #252525;
	flex: 0 1 auto;
	max-width: 500px;
}

.haveto__item-textr-right {
	margin: 0 100px 0 0;
	font-weight: 500;
	font-size: 30px;
	line-height: 133.5%;
	color: #252525;
	flex: 0 1 auto;
	max-width: 500px;
}

/* haveto end */
/* quote start */
.qoute {
	background: #5300EE;
	padding: 80px 0;
}

.quote__text {
	font-weight: bold;
	font-size: 36px;
	line-height: 150%;
	text-align: center;
	color: #F7F7F8;
}


/* quote end */
/* slider start */

.slider__header {
	max-width: 576px;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 133.5%;
	color: #252525;
	padding: 50px 0 30px 0;
}

.slider__blocks {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.slider__item {
	width: 490px;
	background: #FFFFFF;
	box-shadow: 0px 8px 32px rgba(36, 36, 36, 0.12);
	border-radius: 12px;
	margin: 0 0 20px 0;
	display: flex;
	flex-direction: column;
}

.slider__item-text {
	font-weight: normal;
	font-size: 24px;
	line-height: 150%;
	color: #252525;
	padding: 20px 20px;
}

.slider__item-img {
	width: 82px;
	height: auto;
	align-self: flex-end;
	padding: 20px 20px;
}

.slider__text {
	text-align: center;
	padding: 16px 0 26px 0;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	color: #000000;
}

		/* slider background color start */
.black {
	background: #252525;
	padding-top: 176px;
}
/* slider text colors start */
.violet {
	background: #56477A;
	padding-top: 176px;
}

.blue {
	background: #5300EE;
	padding-top: 176px;
}
		/* slider background color end */

.whitetext {
	color: #FFFFFF; /* slider text color */
}


/*----------------slider slick --------------------------*/

.slick-track {
	display: flex;
	align-items: flex-start;
}

.slidermain__container {
	overflow: hidden;
}

.slick-dots li {
	list-style: none;
}

.slick-dots button {
	font-size: 0;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: white;
	border: 1px solid black;
}

.slick-dots li.slick-active button {
	background-color: #5300EE;
}

/*----------------slider slick --------------------------*/
/* slider end */
/* who styles start */

.who__container {
	display: flex;
	justify-content: space-between;
}

.who__header {
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 133.5%;
	color: #252525;
	margin: 50px 0 24px 0;
}

.why__text-header {
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	color: #252525;
	text-align: left;
	margin: 0 0 16px 0;
}

.why__text-text {
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: #252525;
	text-align: left;
	margin: 0 0 20px 0;
}
/* */
.why__block-text {
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 40px;
	color: #FFFFFF;
	margin: 0 0 41px 0;
}

.why__button {
	display: inline-block;
}

.why__button a{
	background: #FFFFFF;
	color: #252525;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #252525;
}

.why__block {
	background: #56477A;;
	box-shadow: 0px 8px 32px rgba(36, 36, 36, 0.12);
	border-radius: 12px 0px 0px 12px;
	padding: 62px 53px 48px 70px;
	position: relative;
	left: 99px;
	align-self: flex-start;
}
/* who styles end */
/* how styles start */

.how__header {
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 133.5%;
	color: #252525;
	margin: 0 0 22px 0;
}

.how__text {
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: #252525;
	max-width: 500px;
}

.how__container {
	display: flex;
	justify-content: space-between;
}

.how__block {
	padding: 40px 38px;
	background: #5300EE;
	box-shadow: 0px 8px 32px rgba(36, 36, 36, 0.12);
	border-radius: 12px;
	position: relative;
	top: 136px;
	left: 0;
}

.how__block p{
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: #FFFFFF;
}

/* how styles end */
/* ps styles start */
.ps {
	background: #ffff;
}

.ps__container {
	padding: 145px 0 100px 0;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 150%;
	color: #252525;
}
/* ps styles end */
/* programm styles start */

.programm {
	padding: 100px 0;
	background: #252525;
}

.programm__header {
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 133.5%;
	color: #FFFFFF;
	margin: 0 0 50px 0;
}

.programm__item {
	margin: 0 0 60px 0;
	display: flex;
	justify-content: space-between;
}

.programm__number {
	align-items: flex-start;
	box-sizing: border-box;
	height: 60px;
	border: 1px solid #FFFFFF;
	border-radius: 50%;
	display:flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	color: #ffff;
	margin: 0 20px 0 0;
	flex: 0 0 60px;
}

.programm__item-header {
	align-self: flex-start;
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	color: #FFFFFF;
	text-align: left;
	margin: 0 77px 0 0;
	flex: 0 0 264px;
}

.programm__text {
	font-weight: normal;
	font-size: 20px;
	line-height: 150%;
	color: #FFFFFF;
	align-self: flex-start;
	flex: 0 1 575px;
}

.programm__number-circle {
	width: 49px;
	height: 49px;
	background: #5300EE;
	border-radius: 50%;
}

.programm__button {
	padding: 11px 34px;
	background: #ffff;
	text-align: center;
	border-radius: 45px;
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
}


.programm__button a {
	display: inline-block;
	text-decoration: none;
	color: black;
}
/* programm styles end */
/* reviews styles start */

.reviews {
	padding: 100px 0;
}

.reviews__header {
	font-weight: 500;
	font-size: 36px;
	line-height: 133.5%;
	color: #252525;
	margin: 0 0 50px 0;
}

.reviews__container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

iframe {
	margin: 0 0 30px 0;
	height: 415px;
}

.reviews__item {
	padding: 40px 40px;
	max-width: 39%;
	height: 470px;
	background: #FFFFFF;
	box-shadow: 0px 8px 32px rgba(36, 36, 36, 0.12);
	border-radius: 12px;
	margin: 0 20px 20px 0;
	overflow: auto;
}

.reviews__item-main {
	display: flex;
	align-items: center;
	margin: 0 0 24px 0;
}

.reviews__img {
	margin: 0 24px 0 0;
	max-width: 80px;
	height: auto;
}

.reviews__name {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #252525;
}

.reviews__rev {
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #252525;
}

/* reviews styles end */
/* cost styles start */

.cost {
	padding: 0 0 90px 0;
}

.cost__header {
	font-weight: 500;
	font-size: 36px;
	line-height: 133.5%;
	color: #252525;
	margin: 0 0 50px 0;
}

.cost__container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.cost__text {
	max-width: 580px;
}

.cost__block {
	background: #5300EE;
	box-shadow: 0px 8px 32px rgba(36, 36, 36, 0.12);
	border-radius: 12px;
	margin: 0 50px 0 0;
	padding: 40px 70px;
	align-self: flex-start;
	text-align: center;
}

.cost__block-text {
	font-style: normal;
	font-weight: bold;
	font-size: 62px;
	line-height: 133.5%;
	color: #FFFFFF;
	margin: 0 0 23px 0;
}

.cost__button a {
	padding: 15px 30px;
	display: inline-block;
	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(83, 0, 238, 0.27);
	border-radius: 68px;
	color: #252525;
	margin: 0 0 13px 0;
}

.cost__block-textmini {
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	color: #FFFFFF;
}

.cost__text-header {
	font-weight: 500;
	font-size: 30px;
	line-height: 133.5%;
	color: #252525;
	margin: 0 0 8px 0;
}

.cost__text-mini {
	font-weight: normal;
	font-size: 24px;
	line-height: 133.5%;
	color: #252525;
	margin: 0 0 24px 0;
}

.cost__text-mini p {
	margin: 0 0 20px 0;
}
/* cost styles end */
/* questions start */

.questions__header {
	font-weight: 500;
	font-size: 36px;
	line-height: 133.5%;
	text-align: center;
	color: #252525;
	margin: 0 0 44px 0;
}

.questions__container {
	margin: 0 auto;
	max-width: 700px;
}

.questions__title {
	font-weight: 500;
	font-size: 30px;
	line-height: 133.5%;
	color: #252525;
	margin: 0 0 12px 0;
}

.questions__text {
	font-weight: normal;
	font-size: 24px;
	line-height: 133.5%;
	color: #252525;
	margin: 0 0 20px 0;
}

.questions__item {
	padding: 0 10px;
	border-bottom: 2px solid black;
	margin: 0 0 30px 0;
}

/* questions end */
/* author start */

.author {
	padding: 70px 0;
}

.author__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.author__img {
	max-width: 436px;
	height: auto;
	margin: 0 104px 0 0;
}

.author__items-title {
	font-weight: 600;
	font-size: 36px;
	line-height: 133.5%;
	color: #252525;
	margin: 0 0 20px 0;
}

.author__items-text {
	font-weight: normal;
	font-size: 24px;
	line-height: 133.5%;
	color: #252525;
}

/* author end */
/* change start */

.change {
	background: #56477A;
	padding: 70px 0;
}

.change__container {
	text-align: center;
}

.change__title {
	font-weight: 500;
	font-size: 36px;
	line-height: 133.5%;
	text-align: center;
	color: #FFFFFF;
	margin: 0 0 22px 0;
}

.change__text {
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: #FFFFFF;
	margin: 0 0 45px 0;
}

.change__button a {
	padding: 15px 30px;
	display: inline-block;
	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(83, 0, 238, 0.27);
	border-radius: 68px;
	color: #252552;
	text-decoration: none;
}
/* change end */
/* footer start */

.footer {
	background: #252525;
	padding: 46px 0 54px 0;
}

.footer__container {
	display: flex;
	justify-content: space-between;
}

.footer__columnleft {
	height: 117px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 10px 0 0;
}

.footer__logo {
	width: 115px;
	height: auto;
	flex: 0 1 115px;
}

.footer__columnleft p {
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	color: #FFFFFF;
}

.footer__columncenter {
	height: 117px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer__columncenter a {
	text-decoration: none;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}

.footer__columnright {
	display: flex;
	align-items: flex-start;
}

.footer__columnright p {
	color: #FFFFFF;
	margin: 0 1px 0 0;
}

.footer__columnright-text a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 11.4545px;
	line-height: 14px;
}

/* footer end */